.center {
  display: flex;
  text-align: center;
  justify-content: center;
}

.center .ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: aniRing 2s linear infinite;
}

@keyframes aniRing {
  0%
    {
      transform: rotate(0deg);
      box-shadow: 1px 5px 2px #e65c00;
    }
  50%
    {
      transform: rotate(180deg);
      box-shadow: 1px 5px 2px #e65c00;
    } 
    100%
    {
      transform: rotate(360deg);
      box-shadow: 1px 5px 2px #0456c8;
    } 
}

.center .ring::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255,255,255,.3);
}

.center span {
  color: #a19b9b;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: aniText 3s ease-in-out infinite;
}

@keyframes aniText {
  50%
    {
      color: #161623;
    }
}