.root {
  background: radial-gradient(
      50% 50% at top center,
      rgba(0, 0, 0, 0.66),
      #262626
    ),
    linear-gradient(180deg, #fff, #262626);
    position: relative;
    width: 100%;
    min-height: 100vh;
    color: #fff;
    align-items: center;
    padding: 100px 0;
}

.container {
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
}

.boxAds {
  height: 40vh;
  overflow: hidden;
  margin-bottom: 20px;
}

.boxAds div {
  width: 100%;
  height: 100%;
}

.boxAds img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boxContent {
  padding: 20px 100px;
}

.container_adsleft {
  position: absolute;
  top: 100px;
  left: 12%;
  width: 10%;
}

.container_adsright {
  position: absolute;
  top: 100px;
  right: 8%;
  width: 10%;
}
