.root {
  background: radial-gradient(
      50% 50% at top center,
      rgba(0, 0, 0, 0.66),
      #262626
    ),
    linear-gradient(180deg, #fff, #262626);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
}

.boxAds {
  padding-top: 100px;
  max-width: 70%;
  height: 30vh;
  overflow: hidden;
}

.boxAds img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.boxContent {
  max-width: 70%;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}