@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

:root {
  --fz_mb: 2rem;
  --fz_mb1: 0.5rem;
}

.Home-content-container {
  background: radial-gradient(
    50% 50% at top center,
    rgba(0, 0, 0, 0.66),
    #262626
  ),
  linear-gradient(180deg, #fff, #262626);
  padding: 0 0 30px;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 10%;
  min-width: 360px;
}

/* ALLPr------------------------------------------------------ALLPr */
.content__AllProduct {
  align-items: center;
  padding: 35px 0;
}

.AllProduct__Title {
  color: aliceblue;
  display: inline-block;
  padding: 50px 0 0 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* .AllProduct__Title {
  text-decoration: none;
}

.AllProduct__Title h1 {
  color: aliceblue;
} */

.AllProduct__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}
/* ALLPr------------------------------------------------------ALLPr */

/* **************************************************************** */

/* Capcha------------------------------------------------------Capcha */
.tools_all_divide {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
  padding: 0 0 0 0;
}

.tools_all_divide p:not(:first-child) {
  padding: 0 0 0 20px;
}

.tools_all_link {
  text-decoration: none;
  color: rgb(18, 20, 16);
}

.tools_all_link:hover {
  text-decoration: underline;
  color: rgb(255, 0, 0);
}

.content__Captcha {
  width: calc(100% - 100px);
  height: 100%;
  margin: 60px 50px 40px 50px;
  display: flex;
  background: #fff;
  color: #474747;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.24));
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.24));
}

.Captcha__thumbnail__wrap {
  width: 50%;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.Captcha__thumbnail__wrap:before {
  pointer-events: none;
  content: "";
  background: linear-gradient(95deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  position: absolute;
  mix-blend-mode: screen;
  opacity: 0.75;
  width: 120%;
  min-height: 500px;
  height: 100%;
  z-index: 2;
}

.Captcha__thumbnail__wrap:after {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 3;
  left: 75%;
  height: 100%;
  top: 0;
  width: 50%;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0.013) 8.1%,
    hsla(0, 0%, 100%, 0.049) 15.5%,
    hsla(0, 0%, 100%, 0.104) 22.5%,
    hsla(0, 0%, 100%, 0.175) 29%,
    hsla(0, 0%, 100%, 0.259) 35.3%,
    hsla(0, 0%, 100%, 0.352) 41.2%,
    hsla(0, 0%, 100%, 0.45) 47.1%,
    hsla(0, 0%, 100%, 0.55) 52.9%,
    hsla(0, 0%, 100%, 0.648) 58.8%,
    hsla(0, 0%, 100%, 0.741) 64.7%,
    hsla(0, 0%, 100%, 0.825) 71%,
    hsla(0, 0%, 100%, 0.896) 77.5%,
    hsla(0, 0%, 100%, 0.951) 84.5%,
    hsla(0, 0%, 100%, 0.987) 91.9%,
    #fff
  );
}

.Captcha__bg {
  max-width: none;
  width: 120%;
  height: 100%;
  object-fit: cover;
}

.Captcha__body {
  flex: 1;
  position: relative;
  z-index: 5;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.Captcha__card__content i {
  color: #e23a3a;
}

.Captcha__card__content p {
  font-size: 1.3rem;
}

.Captcha__card__content .tools_all_divide .Captcha__description {
  font-size: 1rem;
  font-weight: 600;
}

.Captcha__card__content .Captcha__description i {
  transform: rotateY(0);
  animation: aniRttY 5s linear infinite;
}

@keyframes aniRttY {
  0% {
    transform: rotateY(-360deg);
    color: #ffe033;
  }
  25% {
    color: #ff6d33;
  }
  50% {
    color: #ff0000;
  }
  75% {
    color: #ff6d33;
  }
  100% {
    color: #ffc933;
  }
}

.Captcha__free {
  display: inline-block;
  color: red;
  font-size: 0.8rem;
  text-transform: capitalize;
  border: 1px solid #ccc;
  margin-left: 8px;
  padding: 2px 3px 2px 3px;
}

/* .Capcha__body:before {
  content: "";
  background: linear-gradient(130deg, #dbcbbf, #f1eff0 41.07%);
  position: absolute;
  mix-blend-mode: screen;
  width: 120%;
  min-height: 500px;
  height: 100%;
  z-index: 5;
} */

.tags a {
  font-family: MD Primer Bold, Rubik, Lato, Lucida Grande, Lucida Sans Unicode,
    Tahoma, Sans-Serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff1818;
  font-size: 0.9rem;
  -webkit-margin-end: 0.66rem;
  margin-inline-end: 0.66rem;
  text-decoration: none;
}
.tags a:hover {
  text-decoration: underline;
}

.Captcha__body a {
  text-decoration: none;
}

.Captcha__body h1 {
  font-family: MD Primer Bold, Rubik, Lato, Lucida Grande, Lucida Sans Unicode,
    Tahoma, Sans-Serif;
  font-style: normal;
  font-size: clamp(2rem, calc(2rem + 1.2vw), 3rem);
  font-weight: 700;
}

.Captcha__body h1 a {
  color: #000;
}

.Captcha__body h1 a:hover {
  color: rgba(255, 0, 0, 0.932);
}

@media screen and (max-width: 800px) {
  .content__Captcha {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
  }

  .Captcha__thumbnail__wrap {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 200px;
  }

  .Captcha__thumbnail__wrap:before {
    opacity: 0.6;
    min-height: 200px;
    box-sizing: border-box;
  }

  .Captcha__thumbnail__wrap:after {
    display: none;
  }
}

/* Capcha------------------------------------------------------Capcha */

/* **************************************************************** */

/* PR1----------------------------------------------------------PR1 */
.content__Pr1 {
  position: relative;
  align-items: center;
  padding: 50px 0px;
}

.Pr1__Title {
  display: inline-block;
  padding: 50px 0 0 0;
  position: relative;
  transform: translateX(50px);
  justify-content: flex-end;
}

.btn-AllPr1 {
  display: inline-block;
  position: absolute;
  top: 109px;
  right: 50px;
}

.Pr1__Title {
  text-decoration: none;
}

.Pr1__Title:hover h1 {
  color: #3acee2;
  border-bottom: 1px solid #ffc933;
  transition: 0.2s;
}

.Pr1__Title h1 {
  font-size: 50px;
  color: aliceblue;
}

.Pr1__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* PR1----------------------------------------------------------PR1 */

/* PR2 */
.content__Pr2 {
  position: relative;
  align-items: center;
  padding: 50px 0px 10px 0px;
}

.Pr2__Title {
  display: inline-block;
  padding: 50px 0 0 0;
  position: relative;
  transform: translateX(50px);
  justify-content: flex-end;
}

.btn-AllPr2 {
  display: inline-block;
  position: absolute;
  top: 109px;
  right: 50px;
}

.Pr2__Title {
  text-decoration: none;
}

.Pr2__Title:hover h1 {
  color: #3acee2;
  border-bottom: 1px solid #ffc933;
  transition: 0.2s;
}

.Pr2__Title h1 {
  font-size: 50px;
  color: aliceblue;
}

.Pr2__body {
  display: flex;
  overflow-x: scroll;
  scroll-padding: 48px;
  padding-bottom: 16px;
  width: 97%;
  margin-bottom: 32px;
  -webkit-overflow-scrolling: auto;
}

#style-1::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f5f5f500;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #f5f5f500;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/* PR2----------------------------------------------------------PR2 */

/* PR3 */
.content__Pr3 {
  position: relative;
  align-items: center;
  padding: 40px 0;
}

.Pr3__Title {
  display: inline-block;
  position: relative;
  transform: translateX(50px);
  justify-content: flex-end;
}

.btn-AllPr3 {
  display: inline-block;
  position: absolute;
  top: 47.4px;
  right: 50px;
}

.Pr3__Title {
  text-decoration: none;
}

.Pr3__Title:hover h1 {
  color: #3acee2;
  border-bottom: 1px solid #ffc933;
  transition: 0.2s;
}

.Pr3__Title h1 {
  font-size: 50px;
  color: aliceblue;
}

.Pr3__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* Shop Ads */
.ads-container {
  background: black;
  background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.ads-container .axcontent {
  width: 100%;
  height: 100%;
  padding: 30px 11% 40px 11%;
  min-width: 360px;
  text-align: center;
  color: #fff;
}

.ads-container h1 {
  color: transparent;
  font-size: 40px;
}

.ads-container h1 span {
  font-family: 'BadScript';
  animation: title--animate 3s linear infinite;
}

.ads-container h1 span:nth-child(1) {
  animation-delay: 0s;
}

.ads-container h1 span:nth-child(2) {
  animation-delay: 0.1s;
}

.ads-container h1 span:nth-child(3) {
  animation-delay: 0.2s;
}

.ads-container h1 span:nth-child(4) {
  animation-delay: 0.3s;
}

.ads-container h1 span:nth-child(5) {
  animation-delay: 0.4s;
}

.ads-container h1 span:nth-child(6) {
  animation-delay: 0.5s;
}

.ads-container h1 span:nth-child(7) {
  animation-delay: 0.6s;
}

.ads-container h1 span:nth-child(8) {
  animation-delay: 0.7s;
}

.ads-container h1 span:nth-child(9) {
  animation-delay: 0.8s;
}

.ads-container h1 span:nth-child(10) {
  animation-delay: 0.9s;
}

.ads-container h1 span:nth-child(12) {
  animation-delay: 1.1s;
}

.ads-container h1 span:nth-child(13) {
  animation-delay: 1.2s;
}

.ads-container h1 span:nth-child(14) {
  animation-delay: 1.3s;
}

.ads-container h1 span:nth-child(15) {
  animation-delay: 1.4s;
}

.ads-container h1 span:nth-child(16) {
  animation-delay: 1.7s;
}

.ads-container h1 span:nth-child(17) {
  animation-delay: 1.8s;
}

.ads-container h1 span:nth-child(18) {
  animation-delay: 1.9s;
}

.ads-container h1 span:nth-child(19) {
  animation-delay: 2s;
}

.ads-container h1 span:nth-child(20) {
  animation-delay: 2.1s;
}

.ads-container h1 span:nth-child(21) {
  animation-delay: 2.2s;
}

.ads-container h1 span:nth-child(22) {
  animation-delay: 2.3s;
}

.ads-container h1 span:nth-child(23) {
  animation-delay: 2.4s;
}

.ads-container h1 span:nth-child(24) {
  animation-delay: 2.5s;
}

/* Blog Content */
.blog-content {
 text-align: center;
}

.blog-content h1 {
  color: #636262;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
  display: inline-block;
  padding: 30px 0 18px 0;
}

.blog-content h1 span{
  transition: .5s linear
}
.blog-content h1:hover span:nth-child(1){
  margin-right: 5px
}

.blog-content h1:hover span:nth-child(2){
  margin-left: 10px
}
.blog-content h1:hover span{
  color: #fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff, 
               0 0 40px #fff;
}

/* Media Query */

@media screen and (max-width: 1279.98px) {
  .ads-container h1 {
    color: #fff;
    font-size: 40px;
  }

  .ads-container h1 span {
    animation: none;
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }
  .blog-content h1 {
    font-size: 40px;
    padding-bottom: 20px;
  }
  .blog-content h1 span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }
}

@media screen and (max-width: 960px) {
  .content {
    padding: 0 5%;
  }

  .Pr1__body {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .Pr3__body {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

@media screen and (max-width: 800px) {
  .Pr1__body {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    scroll-padding: 48px;
    padding-bottom: 32px;
    -webkit-overflow-scrolling: auto;
  }

  /* .Pr2__body {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    margin-left: 10px;
    scroll-padding: 48px;
    padding-bottom: 32px;
    -webkit-overflow-scrolling: auto;
  } */
}

@media screen and (max-width: 768px) {
  .btn-AllPr1,
  .btn-AllPr2 {
    display: none;
  }

  .Pr1__Title,
  .Pr2__Title {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 5s linear infinite;
  }
  .container__title {
    display: flex;
  }
  .box {
    background-image: linear-gradient(rgb(0, 255, 221), rgb(0, 255, 55)),
      linear-gradient(rgb(0, 255, 221), rgb(0, 255, 55)),
      linear-gradient(rgb(0, 255, 221), rgb(0, 255, 55)),
      linear-gradient(rgb(0, 255, 221), rgb(0, 255, 55)),
      linear-gradient(rgba(27, 59, 85, 0), rgba(70, 131, 180, 0));
    background-repeat: no-repeat;
    background-size: 3px 50%, 50% 3px, 3px 50%, 50% 3px,
      calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
    padding: 5px 10px 5px 10px;
  }

  .gradient-border {
    background-image: linear-gradient(red, purple),
      linear-gradient(to right, purple, red),
      linear-gradient(to bottom, purple, red),
      linear-gradient(to left, purple, red),
      linear-gradient(steelblue, steelblue);
  }
}

@media screen and (max-width: 600px) {
  .blog-content h1 {
    font-size: 30px;
  }
  .ads-container h1 {
    font-size: 30px;
  }
}


@media screen and (max-width: 450px) {
  .content {
    padding: 0 1%;
  }

  .btn-AllPr1 p {
    font-size: var(--fz_mb1);
  }

  .btn-AllPr2 p {
    font-size: var(--fz_mb1);
  }

  .AllProduct__Title {
    font-size: var(--fz_mb);
  }

  .Pr1__Title h1 {
    font-size: var(--fz_mb);
  }
  .Pr2__Title h1 {
    font-size: var(--fz_mb);
  }

  .AllProduct__body {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .blog-content h1 {
    font-size: 23px;
  }
  
  /* .Pr3__body {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  } */

  /* .AllProduct__body {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    scroll-padding: 48px;
    padding-bottom: 32px;
    -webkit-overflow-scrolling: touch;
  }*/
}
